  /*-----------------------------------*\
    #main.css
  \*-----------------------------------*/

  /**
  * copyright 2023 Saish
  */

  /**
  * TABLE OF CONTENT
  *
  * COMPONENTS
  * Btn............................Buttons style
  * Slider.........................Slider style
  * Card...........................Cards style
  *
  * MAIN CONTENT
  * Header.........................Modify header style
  * Hero...........................Hero styles
  * Client.........................Client style
  * About..........................About style
  * Skills.........................Skills style
  * Cta............................Cta style
  * Testimonials...................Testimonials style
  * Media queries..................Responsive for all devices
  */





  /*-----------------------------------*\
    #COMPONENTS
  \*-----------------------------------*/

  @import url("./components/btn.css");
  @import url("./components/slider.css");
  @import url("./components/card.css");





  body:before {
    content: "";
    position: fixed;
    top: 0;
    height: 4px;
    background-color: #149fcb;
    width: 100%;
    z-index: 999;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
  }


  /*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/

  .nav-toggle-btn {
    color: white;
  }

  .navbar.active {
    background-image: linear-gradient(to top, #09203f 00%, #537895 100%);
  }

  .white-text {
    color: white;
  }


  .header {
    background-color: transparent;
  }

  .header.active {
    background-image: linear-gradient(to top, #09203f 100%, #537895 100%);
  }


  /*-----------------------------------*\
    #HERO
  \*-----------------------------------*/

  .hero-banner img {
    width: 100%;
    max-width: 680px;
    height: auto;
    border: 2px solid white;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
  }



  .hero {
    animation: color-animation 4s linear infinite;
    position: relative;
    background-color: hsl(203, 92%, 15%);
    padding-block-start: calc(var(--section-padding) + 60px);
    padding-block-end: calc(var(--section-padding) + 60px);
    text-align: center;
    overflow: hidden;
  }



  .hero .container {
    position: relative;

    display: grid;
    gap: 70px;

  }

  .hero-subtitle {
    font-size: 60px;
    color: white;
    text-shadow: 0 0 7px rgba(255, 255, 255, .3), 0 0 3px rgba(255, 255, 255, .3);
  }

  .first {
    font-size: 70px;
    color: white;
    text-shadow: 0 0 7px rgba(255, 255, 255, .3), 0 0 3px rgba(255, 255, 255, .3);

  }






  .headline-lg {
    color: white;
    font-size: 20px;
    /* font-family: 'Open Sans', sans-serif; */
  }



  /* Responsive text size */
  @media (max-width: 1200px) {
    .headline-lg {
      font-size: 2em;
    }
  }

  @media (max-width: 992px) {
    .headline-lg {
      font-size: 1.75em;
    }
  }

  @media (max-width: 768px) {
    .headline-lg {
      font-size: 1.75em;
    }
  }

  @media (max-width: 576px) {
    .headline-lg {
      font-size: 1.25em;
    }
  }


  .hero-text {
    color: #fbfbfb;
    margin-block: 25px;
  }

  @keyframes color-animation {
    0% {
      color: var(--color-1)
    }

    32% {
      color: var(--color-1)
    }

    33% {
      color: var(--color-2)
    }

    65% {
      color: var(--color-2)
    }

    66% {
      color: var(--color-3)
    }

    99% {
      color: var(--color-3)
    }

    100% {
      color: var(--color-1)
    }
  }

  .hero .btn {
    margin-inline: auto;
  }

  .hero-banner {

    max-width: max-content;
    margin-inline: auto;
  }



  .stars {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
    background: radial-gradient(ellipse at bottom, #1b2735 0, #090a0f 100%)
  }

  .stars .star {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    animation: move-star linear infinite
  }

  .stars .star.size-1 {
    width: 1px;
    height: 1px
  }

  .stars .star.size-2 {
    width: 2px;
    height: 2px;
    background-color: #ffffc1
  }

  .stars .star.size-3 {
    width: 3px;
    height: 3px;
    background-color: #c9f2ff
  }

  @media (prefers-reduced-motion: no-preference) {
    @keyframes scroll-watcher {
      to {
        scale: 1 1
      }
    }

    @keyframes move-star {
      0% {
        translate: 0
      }

      to {
        translate: 0 -150vh
      }
    }

    @keyframes slide {
      to {
        translate: 0 100%
      }
    }
  }

  @keyframes blink {
    0% {
      opacity: 0
    }

    to {
      opacity: 1
    }
  }

  @keyframes spin {
    0% {
      rotate: 0deg
    }

    to {
      rotate: 360deg
    }
  }

  @keyframes shine {
    0% {
      translate: -100% 0
    }

    to {
      translate: 100% 0
    }
  }







  /*-----------------------------------*\
    #CLIENT
  \*-----------------------------------*/




  /*-----------------------------------*\
    #ABOUT
  \*-----------------------------------*/

  .title-lg {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
        #8db6f9 0%,
        #d0a9ff 29%,
        #ff1361 67%,
        #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    text-align: center;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    font-size: 50px;
  }


  @keyframes textclip {
    to {
      background-position: 200% left;
    }
  }



  @keyframes textclip {
    to {
      background-position: 200% right;
    }
  }

  .about {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    padding: 20px;
  }

  .about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
  }

  .about .section-text {
    margin-block: 25px 16px;
    color: #fff;
    /* Adjust the text color for better readability */


  }




  .about .card-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .about .card {
    width: 100%;
    max-width: 350px;
    height: 100%;
    max-height: 450px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about .card-image {
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }


  .about .card:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }



  /* Responsive adjustments */
  @media (max-width: 768px) {
    .about .container {
      grid-template-columns: 1fr;
      text-align: center;
    }

    .about .card-wrapper,
    .about .section-text {
      width: 100%;
    }

    .about .card {
      max-width: 100%;
      max-height: auto;
    }
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }



  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

  .about .wrapper {
    margin-block-start: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 20px;
  }


  /*-----------------------------------*\
    #SKILLS
  \*-----------------------------------*/
  .skill {
    background-image: linear-gradient(to top, #09203f 100%, #537895 100%);
    padding-block-end: 5px;
    /* Added units for padding */
    overflow: hidden;
    /* Prevents overflow */
  }

  .skill-content {
    flex: 1;
  }

  .skill .container {
    gap: 50px;
  }

  .skill-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
  }

  .skill .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }

  .card-media {
    margin-bottom: 10px;
  }

  .card-title {
    font-size: 1.2rem;
    margin: 0;
  }

  .skill-banner {
    flex: 1;
    max-width: 100%;
    margin: 20px 0;
  }

  .section-title {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
        #8db6f9 0%,
        #d0a9ff 29%,
        #ff1361 67%,
        #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    text-align: center;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    font-size: 60px;
    /* Reduced font size for smaller screens */
    margin: 0 10px;
    /* Added margin to avoid overflow */
    padding: 0;
    /* Removed padding */
    white-space: nowrap;
    /* Prevent text wrapping */

  }

  /* Base Styles (for larger screens) */

  /* Laptops and larger tablets */
  @media (min-width: 575px) {
    .skill {
      background-image: linear-gradient(to top, #09203f 100%, #537895 100%);
      padding-block-end: 5px;
      overflow: hidden;
      /* Prevents overflow */
    }

    .skill .container,
    .skill-list {
      display: grid;
    }

    .skill .container {
      gap: 50px;
    }

    .skill-list {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 15px;
    }

    .skill .card ion-icon {
      font-size: 3rem;
    }

    .skill .card .card-title {
      color: #201a4c;
      font-size: 1.6rem;
      font-weight: var(--fw-500);
    }

    .section-title {
      text-transform: uppercase;
      background-image: linear-gradient(-225deg,
          #8db6f9 0%,
          #d0a9ff 29%,
          #ff1361 67%,
          #fff800 100%);
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      text-align: center;
      color: #fff;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      font-size: 60px;
      /* Reduced font size for smaller screens */
      margin: 0 10px;
      /* Added margin to avoid overflow */
      padding: 0;
      /* Removed padding */
      white-space: nowrap;
      /* Prevent text wrapping */

    }


  }

  /* Tablets and smaller laptops */
  @media (min-width: 768px) {
    .hero-text {
      --fs-18: 2rem;
    }

    .hero::after {
      top: -20%;
      bottom: 50%;
      left: 48%;
      right: -15%;
    }
  }

  @media (min-width: 992px) {
    :is(.hero, .about, .skill) .container {
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }

    .hero {
      text-align: left;
    }

    .hero .btn {
      margin-inline: 0;
    }

    .client .slider-item {
      min-width: calc(20% - 24px);
    }

    .skill .container {
      align-items: center;
    }
  }

  @media (min-width: 1200px) {
    .about-list {
      gap: 40px;
    }
  }

  /* Phones and small tablets (e.g., 6.1-inch displays) */
  @media (min-width: 521px) and (max-width: 768px) {
    .skill {
      padding-block-end: 12px;
    }

    .skill .container {
      gap: 20px;
    }

    .skill-list {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 15px;
    }

    .skill .card ion-icon {
      font-size: 2.5rem;
    }

    .skill .card .card-title {
      font-size: 1.5rem;
    }

    .section-title {
      text-transform: uppercase;
      background-image: linear-gradient(-225deg,
          #8db6f9 0%,
          #d0a9ff 29%,
          #ff1361 67%,
          #fff800 100%);
      background-size: 200% auto;
      text-align: center;
      color: #fff;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      font-size: 4.5rem;
      margin: 0 15px;
      padding: 0;
      white-space: nowrap;
    }
  }

  /* For small screens */
  @media (max-width: 520px) {
    .skill {
      padding-block-end: 10px;
    }

    .skill .container {
      gap: 15px;
    }

    .skill-list {
      grid-template-columns: 1fr;
      gap: 10px;
    }

    .skill .card ion-icon {
      font-size: 2rem;
    }

    .skill .card .card-title {
      font-size: 1.2rem;
    }

    .section-title {
      text-transform: uppercase;
      background-image: linear-gradient(-225deg,
          #8db6f9 0%,
          #d0a9ff 29%,
          #ff1361 67%,
          #fff800 100%);
      background-size: 200% auto;
      text-align: center;
      color: #fff;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      font-size: 4.5rem;
      margin: 0 10px;
      padding: 0;
      white-space: nowrap;
    }

    body {
      overflow-x: hidden;
    }
  }

  /* For very small screens */
  @media (max-width: 400px) {
    .skill {
      padding-block-end: 8px;
    }

    .skill .container {
      gap: 10px;
    }

    .skill-list {
      grid-template-columns: 1fr;
      gap: 5px;
    }

    .skill .card ion-icon {
      font-size: 1.5rem;
    }

    .skill .card .card-title {
      font-size: 1rem;
    }

    .section-title {
      text-transform: uppercase;
      background-image: linear-gradient(-225deg,
          #8db6f9 0%,
          #d0a9ff 29%,
          #ff1361 67%,
          #fff800 100%);
      background-size: 200% auto;
      text-align: center;
      color: #fff;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      font-size: 3.5rem;
      margin: 0 5px;
      padding: 0;
    }
  }

  .footer {
    background-image: linear-gradient(to top, #09203f 100%, #537895 100%);
  }