/*-----------------------------------*\
  #animations.css
\*-----------------------------------*/

/**
 * copyright 2023 Saish
 */

@keyframes color-animation {
  0% {
    color: var(--color-1)
  }

  32% {
    color: var(--color-1)
  }

  33% {
    color: var(--color-2)
  }

  65% {
    color: var(--color-2)
  }

  66% {
    color: var(--color-3)
  }

  99% {
    color: var(--color-3)
  }

  100% {
    color: var(--color-1)
  }
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes scroll-watcher {
    to {
      scale: 1 1
    }
  }

  @keyframes move-star {
    0% {
      translate: 0
    }

    to {
      translate: 0 -150vh
    }
  }

  @keyframes slide {
    to {
      translate: 0 100%
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes spin {
  0% {
    rotate: 0deg
  }

  to {
    rotate: 360deg
  }
}

@keyframes shine {
  0% {
    translate: -100% 0
  }

  to {
    translate: 100% 0
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}