/*-----------------------------------*\
  #slider.css
\*-----------------------------------*/

/**
 * copyright 2023 Saish
 
 */





.slider {
  display: flex;
  align-items: center;
  gap: 30px;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: #888 #f1f1f1;
  /* For Firefox */
}

/* For Webkit browsers like Chrome, Safari */
.slider::-webkit-scrollbar {
  height: 8px;
  /* Adjust the height of the scrollbar */
}

.slider::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Background of the scrollbar track */
}

.slider::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Rounded corners for the scrollbar thumb */
  border: 2px solid #f1f1f1;
  /* Optional: adds a border around the thumb */
}


.slider-item {
  scroll-snap-align: start;
}

.slider-item:hover {
  transform: scale(1.1);
  /* Slightly enlarge the item on hover */
}

/* Add keyframes for a pulsing effect */
@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}

.slider-item:hover {
  animation: pulse 1s infinite;
  /* Apply pulsing animation on hover */
}